
:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
}
  

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 50px;
    font-weight: 900;
    margin-top: 33px;
}

.main-frame {
    width: 600px;
    height: 600px;
    border-radius: .5%;
    border: 2px solid black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--primary-light);
}

.clear {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 60px;
    font-size: 25px;
}

.balette-range {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.balette-txt {
    position: absolute;
    top: 53%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
}

button {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
    border-radius: 10px;
    font-weight: 900;

    border: none;
}
